@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoCMS.ViewModels;

@{
    var content = (ContentModels.AboutCallbackSection)Model.Content;
    var settings = Model.Settings as ContentModels.AboutCallbackSettings;
    var formViewModel = new CallbackFormViewModel();
}

<section class="py-28">
    <div class="max-w-7xl mx-auto px-4 flex gap-10">

        <div class="flex flex-col w-7/12">
            @if (!string.IsNullOrWhiteSpace(content.AboutCallbackSectionLabel))
            {
                <p class="text-secondary uppercase tracking-wide font-semibold mb-3">@content.AboutCallbackSectionLabel</p>
            }
            <div class="rte about-callback-rte">
                @Html.Raw(content.AboutCallbackSectionBody)
            </div>
        </div>

        <div class="flex flex-col w-5/12 shadow-md -mt-[11rem] z-[99]">
            <div class="bg-primary">
                <p class="text-accent py-[1.5rem] px-[2rem] text-[1.875rem] font-bold">
                    @content.AboutCallBackFormTitle
                </p>
            </div>
            <p class="text-sm py-[1.5rem] px-[2rem] italic">
                @content.AboutCallBackFormDescription
            </p>

            @{
                var currentPageUrl = Context.Request.Path + Context.Request.QueryString;
            }
            <form action="/umbraco/surface/Form/HandleCallbackForm?returnUrl=@Uri.EscapeDataString(currentPageUrl)" method="post" id="callbackForm">
                @Html.AntiForgeryToken()

                <div class="px-8 flex flex-col gap-6">

                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-red-600 text-sm"></div>
                    </div>

                    <div style="padding-inline: 30px;">
                        <label for="Name" class="sr-only">Name</label>
                        <input id="Name" name="Name" type="text"
                               placeholder="Name"
                               class="w-full p-3 italic border border-border-gray rounded-md focus:ring-2 focus:ring-primary focus:outline-none" />
                        <span class="field-validation-valid text-red-600 text-sm" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>

                    <div style="padding-inline: 30px;">
                        <label for="Email" class="sr-only">Email address</label>
                        <input id="Email" name="Email" type="email"
                               placeholder="Email address"
                               class="w-full p-3 italic border border-border-gray rounded-md focus:ring-2 focus:ring-primary focus:outline-none" />
                        <span class="field-validation-valid text-red-600 text-sm" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>

                    <div style="padding-inline: 30px;">
                        <label for="Phone" class="sr-only">Phone</label>
                        <input id="Phone" name="Phone" type="text"
                               placeholder="Phone"
                               class="w-full p-3 italic border border-border-gray rounded-md focus:ring-2 focus:ring-primary focus:outline-none" />
                        <span class="field-validation-valid text-red-600 text-sm" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                    </div>

                    <div style="padding-inline: 30px;">
                        <label for="SelectedOption" class="sr-only"></label>
                        <div class="relative">
                            <select id="SelectedOption" name="SelectedOption"
                                    class="appearance-none w-full p-3 pr-10 border border-border-gray focus:ring-2 focus:ring-primary focus:outline-none rounded-md">
                                <option value="">Please select an option</option>
                                <option value="Financial consulting">Financial consulting</option>
                                <option value="Business">Business</option>
                                <option value="Tax planning">Tax Planning</option>
                            </select>

                            <span class="pointer-events-none absolute right-3 inset-y-0 flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-body-text-100" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                                </svg>
                            </span>
                        </div>
                        <span class="field-validation-valid text-red-600 text-sm" data-valmsg-for="SelectedOption" data-valmsg-replace="true"></span>
                    </div>

                    <div class="pb-14" style="padding: 10px 30px 40px;">
                        <button type="submit" class="form-btn">
                            Submit
                        </button>
                    </div>

                </div>
            </form>
        </div>

    </div>
</section>
